.container {
  margin-top: auto;
  margin-bottom: auto;
}

.sideBackground {
  height: 60vh;
  
  background: {
    image: url(./images/auth.jpg);
    repeat: none;
    position: 50%;
    size: cover;
  }
}

